// COLOR MANAGEMENT
$primary:       #5141A4;
$white:         #fff;
$dark:          #000000;

$elevin:          #2CC396;
$background:        #E5E5E5;

$text-primary:  #355473;

$gray-400:      #727A8B;
$gray-500:      #434D64;
$gray-600:      #14213D;

// Typography
$h1: 5.6rem;
$h2: 4rem;
$h3: 2.8rem;
$h4: 2rem;
$text-sm: 1rem;
$text-md: 1.4rem;
$text-lg: 1.6rem;
$text-xlg: 1.8rem;


$box-shadow-sm: 2px 2px 4px #a9a9a93f;
$box-shadow-lg: 2px 2px 10px #a9a9a92c;
