.footer{
    padding: 8rem 0;

    .navbar-nav{
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 3.5rem;

        .nav-link{
            color: $gray-400;
        }
    }

    &-text{
        text-align: center;
        color: $gray-600;
    }
}

.return-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    svg{
        fill: $elevin;
    }
}