.footer{
    padding: 8rem 0;

    .navbar-nav{
        flex-direction: row;
        gap: 2.5rem;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 3.5rem;

        .nav-link{
            color: $gray-400;
        }
    }

    &-text{
        text-align: center;
        color: $gray-600;
    }
}