.btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: $text-md;
    border-radius: 4px;

    &.btn-xs{
        width: 51px;
        height: 37px;
        padding: 8px;
        background: #2CC396;
    }

    &.btn-sm{
        width: 110px;
        height: 33px;
        padding: 6px 12px 6px 12px;
    }

    &.btn-md{
        width: 172px;
        height: 56px;
        padding: 10px 24px 10px 24px;
    }

    &.btn-lg{
        height: 50px;
        padding: 10px 24px;
    }
}